html, body {
    height: 100%;
}
.hero-image {
    background-image: url("../src/img/traffic.jpeg");
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto, cover;
    
}

.hero-text {
    display: inline-block;
    padding: 10px 25px;
    position: absolute;
    text-align: center;
    font-weight: lighter;
    color: white;
    outline: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.contenuto {
    margin: 25px 5px 25px 5px;
    padding: 50px 0px 50px 0px;
}

.selector-style {
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    justify-content: center;
    display: flex;
   align-items: center;
}


.btn_grp_style{
    justify-content: center;
    padding: 20px 20px 20px 20px;
    margin-top: 75px;
}

hidediv{
    visibility: hidden;
    display: none;
}
.margin_txt{
    margin: 25px 25px 25px 25px;
    padding: 5px 5px 5px 5px;

}

